{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block js %}
    <script>
        var url_to_get_style_options = "{% url 'get_style_options' 0 %}";
    </script>
    <script src="{%  static 'js/add_form_style.js' %}"></script>
    <script src="{%  static 'js/get_style_options.js' %}"></script>
{% endblock %}

{% block content %}
<form class="add_style" action="" method="post">
    {% csrf_token %}
    {{ form.management_form }}
    <div class="form_content row col-12">
        {% for field in form%}
            {{ field }}
        {% endfor%}
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <div class="col-1">
            <input class="add_more btn btn-default" type="button" value="Add More">
        </div>
    </div>
    <div class="add_content"></div>
    <input id="save_form" class="btn btn-default pull-right col-1" type="submit" value="Save"/>
</form>
{% endblock %}