{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block js %}
    <script>
        var url_to_get_style_options = "{% url 'get_style_options' 0 %}";
    </script>
    <script src="{%  static 'js/add_form_style.js' %}"></script>
    <script src="{%  static 'js/get_style_options.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="content col-12">
        {% if form.non_form_errors %}
            <div class="row alert alert-danger" role="alert" style="margin-top: 20px;">
                {% for error in form.non_form_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <form class="add_style row col-12" action="" method="post">
        {% csrf_token %}
        {{ form.management_form }}
        <div class="content col-12">
            <div class="form_content row">
                {% if form.non_form_errors or form.errors %}
                    {% for form_child in form %}
                        <div class="row col-12">
                            {{ form_child }}
                            <div class="col-1">
                                <input class="remove btn btn-default" type="button" value="Remove">
                            </div>
                        </div>
                        {% if form_child.errors %}
                            <div class="row col-12 alert alert-danger" role="alert" style="margin-top: 20px;">
                                {% for error in form_child.errors.values %}
                                    {% for err in error %}
                                        {{ err }}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for form_child in form %}
                        {{ form_child }}
                    {% endfor %}
                    <div class="col-1">
                        <input class="add_more btn btn-default" type="button" value="Add More">
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="add_content content col-12"></div>
        <div class="col-12">
            <input id="save_form" class="btn btn-default pull-right col-1" type="submit" value="Save"/>
        </div>
    </form>
{% endblock %}