{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block js %}
<link rel="stylesheet" type="text/css" href="{%  static 'article_style.css' %}">
<script src="{%  static 'js/add_form_style.js' %}"></script>
<script src="{%  static 'js/generate_css.js' %}"></script>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>

    $(function () {
         tinymce.init({
          selector: '#mytextarea',
          height: 100,
          theme: 'modern',
          toolbar0: '',
          toolbar1: 'undo redo | bold italic ',
          image_advtab: true,

         });
    });

</script>
{% endblock %}


{% block content %}
<form class="add_article" action="" method="post">{% csrf_token %}
    {{form.as_p}}
    <p class="title">Title</p>
</form>
{% endblock %}